Support ipv6-mapped ipv4 addresses

`﻿"http://[::192.168.1.1]/file.ext"` should parse. It doesn't (`InvalidIpv6Address`). Similarly, `0:0:0:0:0:0:13.1.68.3` fails on `InvalidPort`.

See [RFC 4291 §2.2](https://tools.ietf.org/html/rfc4291#section-2.2):

> An alternative form that is sometimes more convenient when dealing with a mixed environment of IPv4 and IPv6 nodes is  `x:x:x:x:x:x:d.d.d.d`, where the 'x's are the hexadecimal values of the six high-order 16-bit pieces of the address, and the 'd's are the decimal values of the four low-order 8-bit pieces of the address (standard IPv4 representation).  Examples:
> 
>      0:0:0:0:0:0:13.1.68.3
>      0:0:0:0:0:FFFF:129.144.52.38
>
> or in compressed form:
>
>     ::13.1.68.3
>     ::FFFF:129.144.52.38

Needed for Gecko tests to pass (cc @valenting @SimonSapin )

I assume that by `0:0:0:0:0:0:13.1.68.3` you mean something like `http://[0:0:0:0:0:0:13.1.68.3]`.

There is spec and code support for this syntax, but it’s untested and so (unsurprisingly) buggy. I’ll send PRs.

https://github.com/servo/rust-url/pull/237
https://github.com/w3c/web-platform-tests/pull/4116

Forgot to mark #237 as closing this.