Add a no path case to urls

Currently the path of URLs is represented by a `Vec<String>`. The empty vector represents the path `/`. In HTTP one needs to reconstruct the effective URL. rust-url supports almost all cases but it does make a difference between no-path and root-path. Server-wide [OPTIONS requests](https://httpwg.github.io/specs/rfc7231.html#OPTIONS) use a special path of `*` and proxys must relay requests such as `OPTIONS http://www.example.org:8001 HTTP/1.1` as `OPTIONS * HTTP/1.1` to the final server. With a trailing slash like in  `OPTIONS http://www.example.org:8001/ HTTP/1.1` the meaning of the request changes but both URLs are parsed as the same URL by rust-url.

I propose to change the type of `RelativeSchemeData.path` to `Option<Vec<String>>` to be able to represent all URLs commonly used in HTTP. I think this is possible without changing the signature and meaning of many functions and preserving the current functionality but be able to check if there was a path in the URL or not if necessarry.

As far as I understand, https://url.spec.whatwg.org/#urls makes no difference between an empty path and no path. Maybe this is a spec issue?

CC @annevk

In most cases it is not necessarry to make a difference between an empty path and no path. Since the url spec is browser-centric it probably decided not to support no paths.

I searched for `no-path` in the referenced document and there were no hits.

>The empty vector represents the path /.

It doesn't seem like that.

```rust
extern crate url;

use url::Url;

fn main() {
    let a = Url::parse("http://example.com:80").unwrap();
    let b = Url::parse("http://example.com:80/").unwrap();
    println!("{:?}", a.path());  // Some([""])
    println!("{:?}", b.path());  // Some([""])
}
```

Perhaps one could use the empty vector for "no path" then?


Yes one could do this :) This would not break (much) existing code.

@pyfisch I don’t see in the HTTP RFC what defines that `OPTIONS http://www.example.org:8001` and `OPTIONS http://www.example.org:8001/` are different. What am I missing?

@SimonSapin The difference between the two is that `OPTIONS http://www.example.org:8001` asks for all available options of a server in general. The server may reply with `Allow: GET, HEAD, POST, PUT`. But if one requests `OPTIONS http://www.example.org:8001/` it may send  `Allow: GET, HEAD` since the user can't change the index page.

The difference is also explained in [§ 5.3.4 of RFC7230](https://tools.ietf.org/html/rfc7230#section-5.3.4).

I found that this can be easily solved without support by rust-url .

I'm curious, what did you do instead?